body { 
    margin: 0; 
}

.header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(36, 36, 94);
    margin: 0px; 
    padding: 0px;
}

.logo { 
    margin-left: 100px; 
    color: white;
    font-weight: bold;
    font-size: 25px;
    
}
ul { 
    display: flex;
    list-style-type: none;
    gap: 8px
}

a { 
    text-decoration: none;
    color: white;
    margin: 24px;
    padding: 24px;

}

/* end of header  */

/* start of first section of website */
.container { 
    display: flex;
    justify-content: center;
    align-items: center;
 
    background-image: linear-gradient(rgb(36, 36, 94),  rgb(255, 255, 255));
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.second-container { 
    padding-left: 600px;
    padding-right: 100px;
} 

.awesome { 
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.text { 
    color: white;
}

button {
    background-color: rgb(0, 132, 255);    
    border-radius: 25px;
    margin-top: 8px;
}

img { 
    height: auto; 
    width: 300px;
    padding-right:600px
}

/* start of the second body section */

.random { 
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    padding: 24px;
}
.third-container { 
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;

}

.second-img { 
    height: auto;
    width: 150px;
    margin: 0px;
    padding: 0;
    border-radius: 24px;
    border: 3px ridge blue;

}

.text-img { 
    color: black;
    margin-top: 8px;
    margin-right: 8px;
    margin-right: 8px;
    
}
.info { 
    display: flex;
    flex-direction: column;
    max-width: 300px;
    justify-content: center;
    align-items: center;
}
footer { 
    background-color: antiquewhite;
    position: fixed; 
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-size: 48px
}